spring:
  profiles:
    group:
      local: local, secret, s3
      dev: dev, secret, s3
      test: test, secret, s3
    default: local

  jackson:
    visibility:
      field: any
      is-getter: none
      getter: none
      setter: none
      creator: none
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${db.local.datasource.url}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${db.local.datasource.username}
    password: ${db.local.datasource.password}
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true
    show-sql: true
  redis:
    host: localhost
    port: 6379
  sql:
    init:
      mode: always
      data-locations: classpath*:db/mysql/data.sql


logging:
  level:
    codesquard: debug
---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ${db.dev.datasource.url}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${db.dev.datasource.username}
    password: ${db.dev.datasource.password}
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  redis:
    host: redis
    port: 6379


logging:
  level:
    codesquard: info

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: ${db.local.datasource.url}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${db.local.datasource.username}
    password: ${db.local.datasource.password}
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true
    show-sql: true
  redis:
    host: localhost
    port: 6379
logging:
  level:
    codesquard: debug
---

spring:
  config:
    activate:
      on-profile: s3

cloud:
  aws:
    credentials:
      access-key: ${aws.access-key}
      secret-key: ${aws.secret-key}
    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: ${aws.s3.bucket}
